html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.viewport {
    overflow: hidden;
    position: relative;
    width: 100wh;
    height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url('assets/bgr.jpg');
    background-position: center;
    background-size: cover;
    animation: bg 20s ease infinite;
}

@keyframes bg {
    0% {
        scale: 1.0;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1.0;
    }
}

.container {
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-family: 'Source Code Pro', monospace;
    
}

@media only screen and (max-width: 900px) { 

    .logo {
        height: 11vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }

    .type-container h1 {
        font-size: 8vw;
        color: white;
        overflow: hidden; 
        border-right: .1em solid rgb(255, 255, 255); 
        white-space: nowrap; 
        margin: 0 0 15px 0;
        letter-spacing: 0.06em;
        animation: 
        typing 1.5s steps(10, end),
        blink-caret 0.75s step-end infinite 1.5s;
    }
    
}

@media only screen and (orientation: landscape), (min-width: 900px) {

    .logo {
        height: 10vh;
        margin-right: 4vh;
        margin-left: 4vh;
    }
    
    .type-container h1 {
        font-size: 8vh;
        color: white;
        font-family: monospace;
        overflow: hidden; 
        border-right: .1em solid rgb(255, 255, 255); 
        white-space: nowrap; 
        margin: 0 0 15px 0;
        letter-spacing: 0.06em;
        animation: 
        typing 1.5s steps(10, end),
        blink-caret 0.75s step-end infinite 1.5s;
        
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 110% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
}
